@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ProjectTemplate.WEB.Shared
@using ProjectTemplate.APPLICATION.Dtos.Queries.SomeQueries
@using ProjectTemplate.APPLICATION.Dtos.Queries
@attribute [Authorize]
@inject HttpClient Http

<h1>Somes</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (somes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Enum</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var some in somes)
            {
                <tr>
                    <td>@some.Id</td>
                    <td>@some.SomeValue</td>
                    <td>@some.SomeEnum</td>                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<SomeDto> somes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var listResulst  = await Http.GetFromJsonAsync<ListResultsDto<SomeDto>>("Somes");
            somes = listResulst.Items;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
